.header {
  background: linear-gradient(3deg, rgba(2,0,36,0.6225840678068102) 0%, rgba(94,92,92,0.4321078773306197) 50%, rgba(9,9,9,0.2248249641653537) 100%), url("../images/header-bg.jpg") no-repeat top center;
  background-size: cover;
  @include size (100%, 106vh);
  @include f-center;
  overflow: hidden;
  
  &__contact{
    width: 100%;
    height: 25px;
    padding: 6px 5% 0;
    background: #5a7d62e1;
    overflow: hidden;
    @include pos(fixed, $t: 0, $l: 0, $z: 99);

    @include f-between
  }

  .call {
    width: 300px;
    color: $lightgreen;
    font-weight: bolder;
    @include f-between;

    &__number {
      text-decoration: none;
      color: $lighttext;
      font-size: 12px;

      &:hover {
        color: $extralightcarrot;
      }
    }

    &__social {
      text-decoration: none;
      color: $lighttext;
      font-size: 18px;

      &:hover {
        color: $extralightcarrot;
        transform: scale(1.05);
      }
    }
  }

  &__block {
    @include size (100%, 80%);
    overflow: hidden;
    color: $lighttext;
    font-family: $dosis;
    font-style: italic;
    @include f-evenly;
    flex-direction: column;

    & .logo {
      width: 150px;
      height: 150px;
      fill: $lighttext;
    }

    &-title {
      color: $lighttext;
      font-size: 48px;
    }

    &-subtitle {
      color: $lighttext;
      font-size: 36px;
      left: 0;
      text-align: center;
    }

    & p{
      color: $lighttext;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }

  }
}

.navigation {
  width: 100%;
  background: #5a7d62e1;
  overflow: hidden;
  color: $extralightcarrot;
  padding: 0 5%;
  @include pos(fixed, $t: 25px, $l: 0, $z: 99);
  @include f-between;

  &__logo {
    @include f-between; 
    text-decoration: none;
    transition: 0.3s;

    &:hover * {
      color: $lightcarrot;
      fill: $lightcarrot;
      transition: 0.3s; 

    }

    & .logo {
      margin-right: 5px;
    }
  }

  &__menu {
      @include pos(fixed, $t: 15px, $r: 3%, $z: 99);
      background: rgba(255, 255, 255, .9);
      padding: 10px;
      transition: .3s;

      @media (min-width: $desktop) {
          display: none;
      }
  }

  &__input {
      display: none;

      &:checked {
          + .navigation__menu {
              width: 56px;
              right: 250px;

              .burger-menu {
                  span {
                      display: none;
                  }

                  &::before {
                      transform: rotate(47deg);
                      left: 3px;
                  }

                  &::after {
                      transform: rotate(-47deg);
                  }
              }
          }

          ~ .menu {
              right: 0;
          }
      }
  }

}

.menu {
  @include f-between;

  @media (max-width: $desktop) {
      @include pos(fixed, $z: 1, $t: 0, $r: -250px);
      @include size(250px, 100%);
      background: rgba(255, 255, 255, .9);
      transition: .3s;
      padding-top: 25px;
      display: block;
  }

  &__item {
      text-transform: uppercase;
      margin: 0 20px;
      margin-right: 0;
      text-align: center;
      font: 14px $openSans;
      font-weight: 600;
  }

  &__link {
      text-decoration: none;
      color: inherit;
      padding: 23px 0;
      position: relative;
      transition: .3s;
      display: inline-block;

      @media (max-width: $desktop) {
          display: block;
          padding: 20px, 0;
          font-size: 18px;
      }

      &::before {
          @include size(calc(100% + 4px), 2px);
          @include pos($b: -30px, $l: -2px);
          background: $lightcarrot;
          transition: .3s;
          content: "";

          @media (max-width: $desktop) {
              display: none;
          }
      }

      &:hover {
          color: $lightcarrot;

          &::before {
              bottom: 18px;
          }
      }
  }

}

.burger-menu {
  @mixin line($top: 0) {
      background: #bebebe;
      border-radius: 3px;
      position: absolute;
      transition: .3s;
      top: $top;
      @include size(100%, 5px);
  }

  @include size(50px, 40px);
  display: block;
  position: relative;

  @media (min-width: $desktop) {
      
  }

  span {
      display: block;
      transform: translateY(-50%);
      @include line (50%);
      }

  &::before {
      @include line ();
      content: "";
      transform-origin: 0 0;
  }

  &::after {
      @include line (calc(100% - 5px));
      content: "";
      transform-origin: 0 100%;
  }
}



.scroll {
  text-decoration: none;
  color: #fff;
  margin-top: 25px;
  font-size: 35px;
  position: relative;
  top: 0;
  left: 5px;
  transition: .3s;
  animation: scroll-arrow 1.5s ease-in-out infinite;

  &:hover {
      color: $lightcarrot;
  }
}

@keyframes scroll-arrow {
  0% {
      top: 0;
  }
  50% {
      top: 20px;
  }
  100% {
      top: 0;
  }
}

