.practice {
  background: $lighttext;
  position: relative;
  @include size(100%, fit-content);

  &__info {
    @include pos(relative, $t: -6vh, $l: 0, $z: 10);
    & * {
      // margin: 0;
      padding: 5px;

    }
  }

  &__article {
    @include size (100%, 230px);
    background: $lightcarrot;
    overflow: hidden;
    padding: 9px;
    box-shadow:6px 6px 36px 8px rgba(0,0,0,0.33);
    -webkit-box-shadow:6px 6px 36px 8px rgba(0,0,0,0.33);
    -moz-box-shadow:6px 6px 36px 8px rgba(0,0,0,0.33);
    
    &>.row {
      border: 2px $lighttext solid;
      @include size (100%, 100%);
      @include f-center;
      margin: 0;
      color: $lighttext
    }

    &-desc {
      & h3 {
        font: 16px $dosis;
        font-weight: bold;
        font-style: italic
      }
    }
  }

    .instructor {
      @include f-left;
      color: inherit;
      text-decoration: none;
      padding: 0 10px 20PX;
      position: relative;
      overflow: hidden;
      font: 18px $pasifico;
      color: $extralightcarrot;
      display: inline-block;
      transition: .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);

      &::before {
        @include size(calc(100% + 4px), 2px);
        @include pos($b: 18px, $l: -80px);
        background: $carrot;
        transition: .3s;
        content: "";
      }
      
      &:hover{
        color: $carrot;

          &::before {
              left: -2px;
          }
      }
    }  
  
  & .preferencies{
    font-size: 16px;

    &__item {
      display: flex;

      &-icon {
        & .logo {
          @include size (24px, 24px);
          fill: $carrot;
        }
      }
    }
  }
  & .attention {
    color: $carrot;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
  }

}